In [1]:
import pandas as pd

In [5]:
#Parte 1

#2.
# Abrimos la base de datos
EPH_ind = 'usu_individual_T423.xlsx'
EPH_ind = pd.read_excel(EPH_ind)
EPH_hogar = 'usu_hogar_T423.xlsx'
EPH_hogar = pd.read_excel(EPH_hogar)

In [10]:
print(EPH_ind)

                              CODUSU  ANO4  TRIMESTRE  NRO_HOGAR  COMPONENTE  \
109    TQRMNOTUUHJMLPCDEIIAD00801670  2023          4          1           1
110    TQRMNOTUUHJMLPCDEIIAD00801670  2023          4          1           2
111    TQRMNOPUUHJKLQCDEIIAD00793187  2023          4          1           1
112    TQRMNOPUUHJKLQCDEIIAD00793187  2023          4          1           2
113    TQRMNOPUTHKLMNCDEIIAD00791268  2023          4          1           1
...                              ...   ...        ...        ...         ...
45768  TQRMNOSRQHLMNSCDEIJAH00855730  2023          4          1           2
45769  TQRMNOSRQHLMNSCDEIJAH00855730  2023          4          1           3
45770  TQRMNOVTYHLMNUCDEIJAH00855731  2023          4          1           1
45771  TQRMNOVTYHLMNUCDEIJAH00855731  2023          4          1           2
45772  TQRMNOVTYHLMNUCDEIJAH00855731  2023          4          1           3

       H15  REGION MAS_500  AGLOMERADO  PONDERA  ...  PDECIFR  ADECIFR  \
109      1       1       S          32     1775  ...      NaN        5
110      1       1       S          32     1775  ...      NaN        5
111      2       1       S          32      609  ...      NaN       12
112      1       1       S          32      609  ...      NaN       12
113      1       1       S          32     3129  ...      NaN        8
...    ...     ...     ...         ...      ...  ...      ...      ...
45768    1       1       S          33     1230  ...      NaN        9
45769    0       1       S          33     1230  ...      NaN        9
45770    1       1       S          33     1316  ...      NaN        3
45771    1       1       S          33     1316  ...      NaN        3
45772    1       1       S          33     1316  ...      NaN        3

            IPCF  DECCFR  IDECCFR  RDECCFR  GDECCFR  PDECCFR  ADECCFR  PONDIH
109    225000.00       8      NaN        8      8.0      NaN        5    3079
110    225000.00       8      NaN        8      8.0      NaN        5    3079
111         0.00      12      NaN       12     12.0      NaN       12       0
112         0.00      12      NaN       12     12.0      NaN       12       0
113    266666.67       9      NaN        8      8.0      NaN        6    4648
...          ...     ...      ...      ...      ...      ...      ...     ...
45768  266666.67       9      NaN        8      8.0      NaN        9    2145
45769  266666.67       9      NaN        8      8.0      NaN        9    2145
45770   80000.00       3      NaN        3      3.0      NaN        3    2192
45771   80000.00       3      NaN        3      3.0      NaN        3    2192
45772   80000.00       3      NaN        3      3.0      NaN        3    2192

[7380 rows x 177 columns]

In [9]:
print(EPH_hogar)

                              CODUSU  ANO4  TRIMESTRE  NRO_HOGAR  REALIZADA  \
21     TQRMNOTPRHLLLNCDEIIAD00854774  2023          4          1          1
33     TQRMNOSPPHLNMQCDEIJAH00854986  2023          4          1          1
34     TQRMNOTQWHMKMQCDEIJAH00812571  2023          4          1          1
61     TQRMNOQRWHLMOLCDEIJAH00855003  2023          4          1          1
62     TQRMNOQXWHJLOTCDEIJAH00802521  2023          4          1          1
...                              ...   ...        ...        ...        ...
16412  TQRMNORWSHLMPPCDEIJAH00855726  2023          4          1          1
16413  TQRMNOPVRHMMNPCDEIIAD00811951  2023          4          1          1
16414  TQRMNOSPTHMMNPCDEIIAD00811945  2023          4          1          1
16415  TQRMNOSWYHMNNRCDEIIAD00811896  2023          4          1          1
16416  TQRMNOUWVHJNNPCDEIIAD00854977  2023          4          1          1

       REGION MAS_500  AGLOMERADO  PONDERA  IV1  ... GDECCFR  PDECCFR  \
21          1       S          32     2317    2  ...    12.0      NaN
33          1       S          33     2431    1  ...     1.0      NaN
34          1       S          33     4054    1  ...     9.0      NaN
61          1       S          33     2142    1  ...     3.0      NaN
62          1       S          33     1464    1  ...    12.0      NaN
...       ...     ...         ...      ...  ...  ...     ...      ...
16412       1       S          33     1964    1  ...     9.0      NaN
16413       1       S          32     1964    2  ...    12.0      NaN
16414       1       S          32     2043    2  ...     8.0      NaN
16415       1       S          32     3897    2  ...    12.0      NaN
16416       1       S          32     2651    2  ...    12.0      NaN

       ADECCFR PONDIH  VII1_1  VII1_2  VII2_1  VII2_2 VII2_3  VII2_4
21          12      0       1       0      98       0      0       0
33           1   3628       1       0       2       0      0       0
34           9   6943       1       2      98       0      0       0
61           4   5401       2       0      98       0      0       0
62          12      0       2       1      98       0      0       0
...        ...    ...     ...     ...     ...     ...    ...     ...
16412        9   1886       1       0      98       0      0       0
16413       12      0       1       2      98       0      0       0
16414        6   3543       1       2      98       0      0       0
16415       12      0      98       0      98       0      0       0
16416       12      0       1       2       3       0      0       0

[2672 rows x 88 columns]

In [8]:
#Eliminamos todas las observaciones que no corresponden a los aglomerados de Ciudad Autonoma de Buenos Aires o Gran Buenos Aires.
EPH_ind = EPH_ind[(EPH_ind['AGLOMERADO'] == 32) | (EPH_ind['AGLOMERADO'] == 33)]
EPH_hogar = EPH_hogar[(EPH_hogar['AGLOMERADO'] == 32) | (EPH_hogar['AGLOMERADO'] == 33)]

In [12]:
# Unimos las bases de datos
EPH = pd.merge(EPH_ind, EPH_hogar, on=['CODUSU', 'NRO_HOGAR'])

In [15]:
print(EPH)

                             CODUSU  ANO4_x  TRIMESTRE_x  NRO_HOGAR  \
0     TQRMNOTUUHJMLPCDEIIAD00801670    2023            4          1
1     TQRMNOTUUHJMLPCDEIIAD00801670    2023            4          1
2     TQRMNOPUUHJKLQCDEIIAD00793187    2023            4          1
3     TQRMNOPUUHJKLQCDEIIAD00793187    2023            4          1
4     TQRMNOPUTHKLMNCDEIIAD00791268    2023            4          1
...                             ...     ...          ...        ...
7375  TQRMNOSRQHLMNSCDEIJAH00855730    2023            4          1
7376  TQRMNOSRQHLMNSCDEIJAH00855730    2023            4          1
7377  TQRMNOVTYHLMNUCDEIJAH00855731    2023            4          1
7378  TQRMNOVTYHLMNUCDEIJAH00855731    2023            4          1
7379  TQRMNOVTYHLMNUCDEIJAH00855731    2023            4          1

      COMPONENTE  H15  REGION_x MAS_500_x  AGLOMERADO_x  PONDERA_x  ...  \
0              1    1         1         S            32       1775  ...
1              2    1         1         S            32       1775  ...
2              1    2         1         S            32        609  ...
3              2    1         1         S            32        609  ...
4              1    1         1         S            32       3129  ...
...          ...  ...       ...       ...           ...        ...  ...
7375           2    1         1         S            33       1230  ...
7376           3    0         1         S            33       1230  ...
7377           1    1         1         S            33       1316  ...
7378           2    1         1         S            33       1316  ...
7379           3    1         1         S            33       1316  ...

      GDECCFR_y  PDECCFR_y ADECCFR_y  PONDIH_y  VII1_1  VII1_2  VII2_1  \
0           8.0        NaN         5      3079       2       0      98
1           8.0        NaN         5      3079       2       0      98
2          12.0        NaN        12         0       2       0      98
3          12.0        NaN        12         0       2       0      98
4           8.0        NaN         6      4648       1       0      98
...         ...        ...       ...       ...     ...     ...     ...
7375        8.0        NaN         9      2145       1       2      98
7376        8.0        NaN         9      2145       1       2      98
7377        3.0        NaN         3      2192       1       0      98
7378        3.0        NaN         3      2192       1       0      98
7379        3.0        NaN         3      2192       1       0      98

      VII2_2  VII2_3  VII2_4
0          0       0       0
1          0       0       0
2          0       0       0
3          0       0       0
4          0       0       0
...      ...     ...     ...
7375       0       0       0
7376       0       0       0
7377       0       0       0
7378       0       0       0
7379       0       0       0

[7380 rows x 263 columns]

In [14]:
EPH.drop_duplicates(inplace=True)

In [36]:
# 3.
# Limpieza de base de datos
# Obtenemos el resumen de los missings
missing_values = EPH.isna().sum()
columnas_con_missings = missing_values[missing_values > 0]

# Imprimimos los nombres de las variables que tienen missings
for column, count in columnas_con_missings.items():
    print(f"{column}: {count}")

CH14: 3821
CH15_COD: 6049
CH16_COD: 7265
IMPUTA: 7314
PP03C: 3890
PP03D: 3890
PP3E_TOT: 3890
PP3F_TOT: 3890
PP03G: 3890
PP03H: 3890
PP03I: 3890
PP03J: 3890
INTENSI: 3890
PP04A: 3890
PP04B_COD: 3890
PP04B1: 3890
PP04B2: 3890
PP04B3_MES: 3890
PP04B3_ANO: 3890
PP04B3_DIA: 3890
PP04C: 3890
PP04C99: 3890
PP04D_COD: 3890
PP04G: 3890
PP05B2_MES: 3890
PP05B2_ANO: 3890
PP05B2_DIA: 3890
PP05C_1: 3890
PP05C_2: 3890
PP05C_3: 3890
PP05E: 3890
PP05F: 3890
PP05H: 3890
PP06A: 3890
PP06C: 3890
PP06D: 3890
PP06E: 3890
PP06H: 3890
PP07A: 3890
PP07C: 3890
PP07D: 3890
PP07E: 3890
PP07F1: 3890
PP07F2: 3890
PP07F3: 3890
PP07F4: 3890
PP07F5: 3890
PP07G1: 3890
PP07G2: 3890
PP07G3: 3890
PP07G4: 3890
PP07G_59: 3890
PP07H: 3890
PP07I: 3890
PP07J: 3890
PP07K: 3890
PP08D1: 3890
PP08D4: 3890
PP08F1: 3890
PP08F2: 3890
PP08J1: 3890
PP08J2: 3890
PP08J3: 3890
PP09A: 3890
PP09A_ESP: 7364
PP09B: 3890
PP09C: 3890
PP09C_ESP: 7380
PP10A: 7140
PP10C: 7140
PP10D: 7140
PP10E: 7140
PP11A: 7140
PP11B_COD: 7140
PP11B1: 7140
PP11B2_MES: 7140
PP11B2_ANO: 7140
PP11B2_DIA: 7140
PP11C: 7140
PP11C99: 7140
PP11D_COD: 7211
PP11G_ANO: 7140
PP11G_MES: 7140
PP11G_DIA: 7140
PP11L: 7140
PP11L1: 7140
PP11M: 7140
PP11N: 7140
PP11O: 7140
PP11P: 7140
PP11Q: 7140
PP11R: 7140
PP11S: 7140
PP11T: 7140
IDECOCUR: 7380
PDECOCUR: 7380
P47T: 37
IDECINDR: 7380
PDECINDR: 7380
IDECIFR_x: 7380
PDECIFR_x: 7380
IDECCFR_x: 7380
PDECCFR_x: 7380
IV1_ESP: 7359
IV3_ESP: 7373
IV7_ESP: 7349
II7_ESP: 7364
II8_ESP: 7172
IDECIFR_y: 7380
PDECIFR_y: 7380
IDECCFR_y: 7380
PDECCFR_y: 7380

In [26]:
columns_list = EPH.columns.tolist()
print(columns_list)

['CODUSU', 'ANO4_x', 'TRIMESTRE_x', 'NRO_HOGAR', 'COMPONENTE', 'H15', 'REGION_x', 'MAS_500_x', 'AGLOMERADO_x', 'PONDERA_x', 'CH03', 'CH04', 'CH05', 'CH06', 'CH07', 'CH08', 'CH09', 'CH10', 'CH11', 'CH12', 'CH13', 'CH14', 'CH15', 'CH15_COD', 'CH16', 'CH16_COD', 'NIVEL_ED', 'ESTADO', 'CAT_OCUP', 'CAT_INAC', 'IMPUTA', 'PP02C1', 'PP02C2', 'PP02C3', 'PP02C4', 'PP02C5', 'PP02C6', 'PP02C7', 'PP02C8', 'PP02E', 'PP02H', 'PP02I', 'PP03C', 'PP03D', 'PP3E_TOT', 'PP3F_TOT', 'PP03G', 'PP03H', 'PP03I', 'PP03J', 'INTENSI', 'PP04A', 'PP04B_COD', 'PP04B1', 'PP04B2', 'PP04B3_MES', 'PP04B3_ANO', 'PP04B3_DIA', 'PP04C', 'PP04C99', 'PP04D_COD', 'PP04G', 'PP05B2_MES', 'PP05B2_ANO', 'PP05B2_DIA', 'PP05C_1', 'PP05C_2', 'PP05C_3', 'PP05E', 'PP05F', 'PP05H', 'PP06A', 'PP06C', 'PP06D', 'PP06E', 'PP06H', 'PP07A', 'PP07C', 'PP07D', 'PP07E', 'PP07F1', 'PP07F2', 'PP07F3', 'PP07F4', 'PP07F5', 'PP07G1', 'PP07G2', 'PP07G3', 'PP07G4', 'PP07G_59', 'PP07H', 'PP07I', 'PP07J', 'PP07K', 'PP08D1', 'PP08D4', 'PP08F1', 'PP08F2', 'PP08J1', 'PP08J2', 'PP08J3', 'PP09A', 'PP09A_ESP', 'PP09B', 'PP09C', 'PP09C_ESP', 'PP10A', 'PP10C', 'PP10D', 'PP10E', 'PP11A', 'PP11B_COD', 'PP11B1', 'PP11B2_MES', 'PP11B2_ANO', 'PP11B2_DIA', 'PP11C', 'PP11C99', 'PP11D_COD', 'PP11G_ANO', 'PP11G_MES', 'PP11G_DIA', 'PP11L', 'PP11L1', 'PP11M', 'PP11N', 'PP11O', 'PP11P', 'PP11Q', 'PP11R', 'PP11S', 'PP11T', 'P21', 'DECOCUR', 'IDECOCUR', 'RDECOCUR', 'GDECOCUR', 'PDECOCUR', 'ADECOCUR', 'PONDIIO', 'TOT_P12', 'P47T', 'DECINDR', 'IDECINDR', 'RDECINDR', 'GDECINDR', 'PDECINDR', 'ADECINDR', 'PONDII', 'V2_M', 'V3_M', 'V4_M', 'V5_M', 'V8_M', 'V9_M', 'V10_M', 'V11_M', 'V12_M', 'V18_M', 'V19_AM', 'V21_M', 'T_VI', 'ITF_x', 'DECIFR_x', 'IDECIFR_x', 'RDECIFR_x', 'GDECIFR_x', 'PDECIFR_x', 'ADECIFR_x', 'IPCF_x', 'DECCFR_x', 'IDECCFR_x', 'RDECCFR_x', 'GDECCFR_x', 'PDECCFR_x', 'ADECCFR_x', 'PONDIH_x', 'ANO4_y', 'TRIMESTRE_y', 'REALIZADA', 'REGION_y', 'MAS_500_y', 'AGLOMERADO_y', 'PONDERA_y', 'IV1', 'IV1_ESP', 'IV2', 'IV3', 'IV3_ESP', 'IV4', 'IV5', 'IV6', 'IV7', 'IV7_ESP', 'IV8', 'IV9', 'IV10', 'IV11', 'IV12_1', 'IV12_2', 'IV12_3', 'II1', 'II2', 'II3', 'II3_1', 'II4_1', 'II4_2', 'II4_3', 'II5', 'II5_1', 'II6', 'II6_1', 'II7', 'II7_ESP', 'II8', 'II8_ESP', 'II9', 'V1', 'V2', 'V21', 'V22', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19_A', 'V19_B', 'IX_TOT', 'IX_MEN10', 'IX_MAYEQ10', 'ITF_y', 'DECIFR_y', 'IDECIFR_y', 'RDECIFR_y', 'GDECIFR_y', 'PDECIFR_y', 'ADECIFR_y', 'IPCF_y', 'DECCFR_y', 'IDECCFR_y', 'RDECCFR_y', 'GDECCFR_y', 'PDECCFR_y', 'ADECCFR_y', 'PONDIH_y', 'VII1_1', 'VII1_2', 'VII2_1', 'VII2_2', 'VII2_3', 'VII2_4']

In [27]:
# 4.
# Proporción de niños en el hogar:
EPH['proporcion_niños'] = EPH['IX_MEN10'] / EPH['IX_TOT']